<%= content_for(:title, "TIMDEX") %>

<div class="layout-3q1q layoutband">
  <div class="col3q">
    <div class="about-timdex box-content">
      <h3 class="title">About TIMDEX Discovery API</h3>

      <p>TIMDEX is a free discovery API into collections at MIT Libraries.</p>

      <p>This release provides discovery of records in MIT Libraries catalog and ArchivesSpace. We intend to expand the scope of collections discoverable via this API.</p>

      <p>Interactive <a href="https://mitlibraries.github.io/timdex/">end user documentation</a> is available for the REST API with Curl examples and live API calls against real production data.</p>

      <p>There is also a <a href="https://graphql.org">GraphQL</a> endpoint by posting to <%= link_to(graphql_url) %> as well as an <a href="/playground">interactive GraphQL playground.</a> It's neat, check it out!.</p>

      <div class="well">
        <p>Example query to use in the playground or your own app:</p>

<pre>
{
  search(searchterm: "spaceflight") {
    records {
      sourceLink
      title
      links {
        text
        url
      }
    }
  }
}
</pre>
      </div>

      <p>Feedback is welcome via <a href="mailto:timdex@mit.edu?Subject=TIMDEX%20Feedback">timdex@mit.edu</a>.

      Bug reports via the <a href="https://github.com/MITLibraries/timdex/issues">Github repository</a> would be great.</p>
    </div>


    <% if user_signed_in? %>
      <div class="panel panel-info">
        <div class="panel-heading">Quick Example</div>
        <div class="panel-body">
          <p>You can do a very quick test of your account via this `curl` example. The documentation portal linked above has much more complete information.</p>

          <code>curl -X GET --header 'Authorization: Bearer <%= JwtWrapper.encode({ user_id: current_user.id }) %>' '<%= api_v1_search_url(q: 'whatever')%>'</code>
        </div>
      </div>
    <% end %>
  </div>

  <aside class="col1q-r">
    <img src="<%= image_path('tim-timdex.svg') %>" alt="Tim the beaver says 'TIMDEX!'" />
  </aside>

</div>
