<%= content_for(:title, "TIMDEX") %>

<div class="layout-3q1q layoutband">
  <div class="col3q">
    <div class="about-timdex box-content">
      <h3 class="title">About TIMDEX Discovery API</h3>

      <p>TIMDEX is a free discovery API into collections at MIT Libraries.</p>

      <p>We currently provide searching of records in MIT Libraries catalog, DSpace@MIT, and MIT ArchivesSpace.</p>

      <p>Access is via a <a href="https://graphql.org">GraphQL</a> endpoint by posting to <%= link_to(graphql_url) %>.
        We recommend starting by exploring our <a href="/playground">interactive GraphQL playground.</a>, or you can
        look through our <a href="https://mitlibraries.github.io/timdex/">developer documentation</a> for how-to guides,
        API reference, and more.

      <div class="well">
        <p>Example query to use in the playground or your own app:</p>

<pre>
{
  search(searchterm: "learn graphql") {
    records {
      title
      sourceLink
      summary
    }
  }
}
</pre>

      <p><a href="/playground?query=%7B%0A%20%20search(searchterm%3A%20%22learn%20graphql%22)%20%7B%0A%20%20%20%20records%20%7B%0A%20%20%20%20%20%20title%0A%20%20%20%20%20%20sourceLink%0A%20%20%20%20%20%20summary%0A%20%20%20%20%7D%0A%20%20%7D%0A%7D">Jumpstart this example query in the Playground</a></p>
      </div>

      <p>Additional examples and a tutorial on how to use this GraphQL API will be available soon.</p>

      <h3>REST API deprecated</h3>

      <p><strong>Our deprecated REST API <a href="https://mitlibraries.github.io/timdex/deprecated_rest/">documentation</a> is still available, but the REST endpoint will be going away entirely very soon (early 2023) and we highly recommend moving to GraphQL. If you need help migrating from REST to GraphQL please <a href="mailto:timdex@mit.edu?Subject=TIMDEX%20GraphQL%20transition">let us know</a></strong></p>

      <p>Feedback is welcome via <a href="mailto:timdex@mit.edu?Subject=TIMDEX%20Feedback">timdex@mit.edu</a>.

      Bug reports via the <a href="https://github.com/MITLibraries/timdex/issues">Github repository</a> would be great.</p>
    </div>


    <% if user_signed_in? %>
      <div class="panel panel-info">
        <div class="panel-heading">Quick Example</div>
        <div class="panel-body">
          <p>You can do a very quick test of your account via this `curl` example. The documentation portal linked above has much more complete information.</p>

          <code>curl -X GET --header 'Authorization: Bearer <%= JwtWrapper.encode({ user_id: current_user.id }) %>' '<%= api_v1_search_url(q: 'whatever')%>'</code>
        </div>
      </div>
    <% end %>
  </div>

  <aside class="col1q-r">
    <img src="<%= image_path('tim-timdex.svg') %>" alt="Tim the beaver says 'TIMDEX!'" />
  </aside>

</div>
